.channelPageWrap {
  .channelMainInfo {
    display: flex;
    margin-bottom: 1rem;

    .imageWrap {
      width: 4.5rem;
      height: 2.5rem;
      margin-right: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .channelName {
      span {
        display: block;

        &:last-child {
          font-weight: 600;
        }
      }
    }
  }

  .channelDescription {
    margin-bottom: 2rem;
  }

  .channelDaysBar {
    display: flex;
    margin-bottom: 1rem;

    div {
      cursor: pointer;
      margin-right: 1rem;

      &.active {
        font-weight: 600;
      }
    }
  }

  .channelSchedule {
    color: var(--grey-01);

    div {
      display: grid;
      grid-template-columns: 6rem auto;
      margin-bottom: 0.5rem;

      &.onNow {
        color: var(--black-01);
      }
    }
  }
}
