.channelPageWrap {
  width: 100%;
  padding: 0 1rem 1rem 1rem;

  .errorWrap {
    button {
      margin-top: 1rem;
      background-color: transparent;
      border: 2px solid var(--black-01);
      color: var(--black-01);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }
  }

  .channelMainInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      margin-bottom: 1.5rem;
    }

    .imageWrap {
      width: 4.5rem;
      height: 2.5rem;
      margin-right: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .channelName {
      margin-right: 2rem;
      span {
        display: block;

        &:last-child {
          font-weight: 600;
        }
      }
    }
  }

  .channelSubInfo {
    margin-bottom: 2rem;

    .infoGrid {
      display: grid;
      grid-template-columns: max-content auto;
      grid-row-gap: 0.5rem;
      margin-bottom: 1.5rem;

      .infoTitle {
        margin-right: 1.5rem;
        font-weight: 600;
      }
    }

    .channelDescription {
      line-height: 1.7rem;
      text-align: justify;
    }
  }

  .channelDaysBar {
    position: relative;
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    overflow-x: auto;

    .animateBar {
      position: absolute;
      content: "";
      bottom: 28%;
      left: var(--leftCalc);
      height: 0.15rem;
      width: var(--barLength);
      background-color: var(--purple-01);
      transition: all 0.5s ease-in;
    }

    div {
      cursor: pointer;

      &.active {
        font-weight: 700;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .channelSchedule {
    color: var(--grey-01);

    div {
      display: grid;
      grid-template-columns: 6rem auto;
      margin-bottom: 0.8rem;

      &.onNow {
        color: var(--black-01);
      }
    }
  }
}
